.card2{
    background: rgb(60,6,122);
    /* background: linear-gradient(121deg, rgba(60,6,122,1) 14%, rgba(182,21,151,1) 40%, rgba(83,98,225,1) 78%); */
    height: 40vh;
    width: 70%;
    border-radius: 10px;
    

    margin-top: 20px;
    
   
}


._card__number2 input{
    margin-top: 100px;
    height: 30px;
width: 300px;
}

 .card2_input{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(157, 155, 155);
    color: white;
}

.bg_black{
    background-color: black;
    color: black;
    height: 30px;
    margin-top: 30px;
   
}