.layout{
   
    margin: 0;
    padding: 0;
    height: 100vh;
}
.partitions
{
    height: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
}

.partition1{
    background: linear-gradient(121deg, rgba(60,6,122,1) 14%, rgba(182,21,151,1) 40%, rgba(83,98,225,1) 78%);

height: 100vh; 
flex-grow: 1;
color: white;
width: 40%;

}

.partition2{
background-color: rgb(243, 242, 242);
 height: 100vh; 
flex-grow: 8;
display: flex;
align-items: center;
justify-content: center;
} 

.Form{
    margin-left: 80px; 

}

.Form input{
    margin: 5px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
   
}

.card_holder{
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
}
.card_number{
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
}
label{
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}



.cvc{
    margin-left: 40px;
}

.number{
    width: 60px;
    border: 1px solid gray;
    border-radius: 5px;
}
#cvc{
    width: 140px;
    border: 1px solid gray;
    border-radius: 5px;
}
.button{
    width: 300px;
    margin-left: 10px;
    background-color: black;
   
    color: white;
    height: 40px;
    border-radius: 5px;
 }

.partitiion1 ,h1{
margin-left: 100px;
}

.card1{
    margin-top: 20px;
    margin-left: 80px;
    
    
    
}

.card2{
    margin-top: 20px;
    margin-left: 60px;
}